.card_body{
    z-index: 3000;
    position: relative;
    top:-150px;
    display: none;
    background: rgb(120, 174, 255);
    box-shadow: 2px 3px 8px 2px ;
    
}


#input_value{
    background-color: transparent;
    outline: 0;
    border-radius: 6px;
}
#mainbutton{
    background-color: white;
    outline: 0;
    border-radius: 6px;
    border: 0;

   margin-left: 10px;
  
}
.weather{
    display: inline-flex;
    font-family: 'Lucida Sans';
    color: aliceblue;
    position: relative;
    z-index: -4000;
    top: 200px;
     left: 34%;
     font-weight: lighter;
     font-size: 100px;
     opacity: 0.6;
     animation: borderani 6s linear infinite;;
}
@keyframes borderani {
    0%{
        left: 0%;
       opacity: 0;
    }
    50%{
        opacity:1;
    }
    100%{
        left: 70%;
        opacity: 0;
}
}
.card-link{
    display: inline-block;
    width: fit-content;
    height: fit-content;
    border-radius: 3px;
    padding: 4px;
    background-color: blue;
   position: relative;
   left: 35px;
}
.hidden{
    border-radius: 3px;
    background-color: aqua;
    display: none;
}
.card-link:hover .hidden{
    display: block;
}
.card-title{
    display: flex;
    justify-content: center;
}
body{
    background-color: blue;
   
}
section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}
section .wave.wave1{
      z-index: 1000;
      opacity: 1;
    animation: animate 30s linear infinite;
    animation-delay: 0s;
}
@keyframes animate
{
0%{
    background-position-x: 0;
}
100%{
    background-position-x: 1000px;
}
}
section .wave.wave2{
    z-index: 999;
    opacity: 0.5;
  animation: animate2 14s linear infinite;
  animation-delay: -5s;
}
@keyframes animate2
{
0%{
    background-position-x: 0;
}
100%{
    background-position-x: -1000px;
}
}
section .wave.wave3{
    z-index: 998;
    opacity: 0.2;
  animation: animate3 22s linear infinite;
  animation-delay: -2s;
  bottom: 15px;
}
@keyframes animate3
{
0%{
    background-position-x: 0;
}
100%{
    background-position-x: -1000px;
}
}
section .wave.wave4{
    z-index: 996;
    opacity: 0.8;
  animation: animate4 5s linear infinite;
  animation-delay: -2s;
  bottom: 15px;
}
@keyframes animate4
{
0%{
    background-position-x: 0;
}
100%{
    background-position-x: -1000px;
}
}
@media screen and (max-width:450px){
    .card_body{
        z-index: 3000;
        position: relative;
        top: 100px;
        display: none;
        background: rgb(120, 174, 255);
        box-shadow: 2px 3px 8px 2px ;
        
    }
    .input_container{
        display: flex;
        position: relative;
        top: -90px;
         justify-content: center;
    }
    
}